<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <div id=bar class=navBar [ngClass]="(getNightMode()===0)?'nightSecondary':'daySecondary'"> -->



<!-- </div> -->
<div id=body class=body [ngClass]="(getNightMode()===0)?'night':'day'">
  <div class=buttonlike>
    <label id="music" class="custom-file-upload" border-style: solid>
      <input type="file" id=addfile accept="audio/*" multiple (change)="onChange($event.target.files)">
      <div class=plus><i class="fa fa-plus" aria-hidden="true"></i> </div>
      <div class=music><i class="fa fa-music" aria-hidden="true"></i></div>
    </label>
  </div>
  <button class=night (click)=changeNightMode()>
    <i id=sun [ngClass]="(getNightMode()===1)?'pickedSun':'notPickedSun'" class="fa fa-sun-o" aria-hidden="true"></i>
    <i id=moon [ngClass]="(getNightMode()===0)?'pickedMoon':'notPickedMoon'" class="fa fa-moon-o" aria-hidden="true"></i>
  </button>
  <audio id="sound" class="sound" controls autoplay></audio>
  <div class= center>    
    <button *ngIf=isPaused() [ngClass]="(getNightMode()===0)?'nightCenter':'dayCenter'" class=play id=play (click)=play()><i class="fa fa-play" aria-hidden="true"></i></button>
    <button *ngIf=!isPaused() [ngClass]="(getNightMode()===0)?'nightCenter':'dayCenter'" class=pause id=play (click)=play()><i class="fa fa-pause" aria-hidden="true"></i></button>
  </div>
  <div class=tree><img class=palm id= palm [ngClass]="(getNightMode()===0)?'night':'day'" src='../assets/palm.png'></div>
  <div class=playlist id=playlist>
    <div [ngClass]="(getCurrentSongId()===i)?'songPicked':'song'"*ngFor="let song of getPlaylistService(); index as i" class=song id={{i}}song (click) = load(i)>
      {{ song }}
    </div>
    
  </div>

</div>