

#canvas {
    position: fixed;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 200px;
    
  }

.playlistButtons{
 position: absolute;
 transform: translate(50px,0);
}

button.night {
    border-width: 0px;
    font-size: 250%;        
    right: 1px;
    width: fit-content;
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
}
.buttonlike{
    font-size: 250%;    
    left: 1px;
    cursor: pointer;
    position: absolute; 
    width: fit-content;
    height: 5%;
}

.addPlaylistFile{
    font-size: 250%;    
    left: 100px;
    cursor: pointer;
    position: absolute; 
    width: fit-content;
    height: 5%;
}

.custom-file-upload {
    margin-left: 10px;
    cursor: pointer;
    width: fit-content;
    animation-duration: 1s;
}
.custom-file-upload:hover{
    text-shadow: 2px 2px 10px rgb(250,125,250);
}
.plus{
    position: absolute;
    left:10px;
    top: 13px;
    font-size: initial;
    width: 1%
}
.music {
    position: absolute;
    left:18px;
    top: 1px;
}
.list {
    position: absolute;
    left: 27px;
    top: 4px;
}
i{
    width: 50%;    
    animation-duration: 1s;
}
.slash {
    position: absolute;    
   display: block;
    transform: translate(2px,-36px) rotate(25deg);    
    font-size: 40px;
}
i.pickedMoon {
    color: rgb(130, 220, 236);
}
i.pickedSun {
    color: rgb(0,0,0);
}
i.notPickedMoon {    
    color: rgb(98, 168, 180);
}
i.notPickedSun {
    color: rgb(52, 57, 78);
}
i.notPickedSun:hover {
    text-shadow: 0px 0px 10px rgb(250,125,250);
}
i.notPickedMoon:hover {
    text-shadow: 0px 0px 10px rgb(250,125,250);
}

.body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    position: absolute;
    overflow: hidden;
    animation-duration: 1s;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.tree{
    height: 100%;
    background: none;
}
img.palm {
    height:80%;
    position: absolute;
    bottom: 0;
    transform: translateY(1%);
    background: none;
    animation-duration: 1s;
}
.times {  
    width: 100%;
    align-items: center;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.slider {
    -webkit-appearance: none; 
    appearance: none;
    height: 5px;      
    width: 50%;
    opacity: 0.9;
    outline: none; 
    border: none;
    border-radius: 20px;    
    -webkit-transition: .2s;
    transition: opacity .2s;
    animation-duration: 1s;
}
.slider.active:hover {
    opacity: 1;
    box-shadow: 0px 0px 5px rgb(250,125,250);
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 0px; 
    height: 0px;
    border-radius: 20px;
    
    
 
  }  
  .slider.active::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 20px;
    animation-duration: 1s;
    
 
  }  
  .slider.active::-moz-range-thumb {
    width: 20px; 
    height: 20px;
    border-radius: 20px;
    animation-duration: 1s;
     
  }
  .slider::-moz-range-thumb {
    width: 0px; 
    height: 0px;
        
  }
  .slider::-moz-range-thumb:hover{
    box-shadow: 0px 0px 15px rgb(250,125,250);

  }
  .slider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 15px rgb(250,125,250);
  }

  .volumeSlider {
    -webkit-appearance: none; 
    appearance: none;
    height: 5px;
    width: 20%;
    opacity: 0.9;
    outline: none; 
    border: none;
    border-radius: 20px;    
    -webkit-transition: .2s;
    transition: opacity .2s;
    animation-duration: 1s;
}
.volumeSlider:hover {
    opacity: 1;
    box-shadow: 0px 0px 5px rgb(250,125,250);
    cursor: pointer;
}
.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; 
    height: 20px;
    border-radius: 20px;
    animation-duration: 1s;
    
 
  }  
  .volumeSlider::-moz-range-thumb {
    width: 20px; 
    height: 20px;
    border-radius: 20px;
    animation-duration: 1s;
    
  }
  .volumeSlider::-moz-range-thumb:hover{
    box-shadow: 0px 0px 15px rgb(250,125,250);

  }
  .volumeSlider::-webkit-slider-thumb:hover {
    box-shadow: 0px 0px 15px rgb(250,125,250);
  }
.playlist{    
    position: absolute;
    right: 0;
    bottom: 200px;
    max-height: 70%;
    width: 40px;
    overflow-x: hidden;
    display: block;
    white-space: nowrap;
    overflow-y: scroll;
    
    transform: translateX(19px);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    border-radius: 4px;
    border: solid 2px;
    border-left: solid 20px;
    box-shadow: 0px 0px 10px rgba(250,125,250, 0.6);
    /* transition-duration: 0.5s; */
    opacity: 1;
}
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(250,125,250, 0.2),
                0 8px 10px 1px rgba(250,125,250, 0.14),
                0 3px 14px 2px rgba(250,125,250, 0.12);  
    color:   rgba(250,125,250, 0.9)
  }
  
  .cdk-drag-placeholder {
    opacity: 0.1;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
.song{   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;  
    margin-top: 8px;
   
}
.songName{
    transition-duration: 0.5s;    
    cursor: pointer;
}

.delete{
    background: none;
    outline: none;
    border: none;
    font-size: 17px; 
    cursor: pointer;
    opacity: 0.5;
    transition-duration: 0.5s;
    width: 22px;
}
.disabledDelete {
    background: none;
    outline: none;
    border: none;
    font-size: 17px; 
    width: 22px;
    opacity: 0;  
}

.delete:hover{
    text-shadow: 0px 0px 5px rgb(250,125,250);      
    opacity: 1; 
}


.songName:hover{
    text-shadow: 0px 0px 5px rgb(250,125,250);       
}


input[type="file"] {
    display: none;
}

.palm.night {
    filter: invert(72%) sepia(40%) saturate(365%) hue-rotate(141deg) brightness(105%) contrast(90%);
}

.title {  
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-self: center;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.sound {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}
.mute {
    font-size: 30px;
    background: none;
    border: solid;
    cursor: pointer;
    border-width: 0px; 
    animation-duration: 1s;
    outline: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    
}
.mute:hover{
    text-shadow: 0px 0px 20px rgb(250,125,250);
}
.speaker{
    font-size: 30px;
    background: none;
    border: solid;
    cursor: pointer;
    border-width: 0px;    
    animation-duration: 1s;
    outline: none;
}
.speaker:hover{
    text-shadow: 0px 0px 20px rgb(250,125,250);
}
.centerButtons { 
    width: 100%;   
    height: 70%;    
}

.play {    
    
    font-size: 250px;
    border: solid;
    border-radius: 300px;
    padding-left: 22px;
    padding-right: 72px;
    padding-bottom: 0px;    
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
    text-align: center; 
}
.pause { 
  
    font-size: 200px;
    border: solid;
    border-radius: 300px;
    padding-left: 16px;
    padding-right: 103px;
    padding-top: 29px;
    padding-bottom: 29px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
}
.forward {   
    
    font-size: 100px;
    border: solid;
    border-radius: 300px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
}
.backward {
  
    font-size: 100px;
    border: solid;
    border-radius: 300px;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
}
.loop {
    
    font-size: 50px;
    border: solid;
    border-radius: 300px;
    padding-left: 4px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 5px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
}
.loopChecked {
    
    font-size: 50px;
    border: solid;
    border-radius: 300px;
    padding-left: 4px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 5px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);
}
.shuffle {
    
    font-size: 50px;
    border: solid;
    border-radius: 300px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 3px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
}
.shuffleChecked {
  
    font-size: 50px;
    border: solid;
    border-radius: 300px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 3px;
    background: none;
    cursor: pointer;
    animation-duration: 1s;
    outline: none;
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);
}


.songPicked {
   /* text-decoration: underline ;
   text-decoration-style: solid; */
   text-shadow: 0px 0px 5px rgb(250,125,250);
   font-weight: bold;
   /* border-left: solid 10px rgb(250,125,250);
   border-top: none 10px; */
   
}
.center {     
    width: 100%;
    position: absolute;    
    bottom: 20%; 
    background: none;
}
.play:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.pause:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.forward:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.backward:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.loop:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.loopChecked:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.shuffleChecked:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}

.shuffle:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.dayCenter {
    color: rgb(0,0,0);
    text-shadow: 0px 0px 10px rgb(130, 220, 236);
    box-shadow: 0px 0px 10px rgb(130, 220, 236);
}
.nightCenter {
    color: rgb(130, 220, 236);
    text-shadow: 0px 0px 10px rgb(15, 21, 44);
    box-shadow: 0px 0px 10px rgb(15, 21, 44);
}
.dayCenter.shuffleChecked {
    color: rgb(0,0,0);
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);

}
.dayCenter.loopChecked {
    color: rgb(0,0,0);
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);

}
.nightCenter.loopChecked {
    color: rgb(130, 220, 236);
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);
}
.nightCenter.shuffleChecked {
    color: rgb(130, 220, 236);
    text-shadow: 0px 0px 10px rgb(250,125,250);
    box-shadow: 0px 0px 10px rgb(250,125,250);
}
.nightCenterNoShadow{
    color: rgb(130, 220, 236);
}
.nightTitle{
    font-size: large;
    text-shadow: 1px 1px 0px rgb(15, 21, 44),
    -1px 1px 0px rgb(15, 21, 44),
    1px -1px 0px rgb(15, 21, 44),
    -1px -1px 0px rgb(15, 21, 44),
    2px 2px 0px rgb(15, 21, 44)

    
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(250,125,250); */
}
.dayTitle{
    font-size: large;
    text-shadow: 1px 1px 0px rgb(130, 220, 236),
    -1px 1px 0px rgb(130, 220, 236),
    1px -1px 0px rgb(130, 220, 236),
    -1px -1px 0px rgb(130, 220, 236),
    2px 2px 0px rgb(130, 220, 236)

    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(250,125,250); */
}
.dayCenterNoShadow{
    color: rgb(0,0,0);
}
.nightSlider {
    background: rgb(130, 220, 236);
    box-shadow: 0px 0px 10px rgb(15, 21, 44);
}
.daySlider{
    background: rgb(0,0,0);
    box-shadow: 0px 0px 10px rgb(130, 220, 236);
}

.daySlider::-moz-range-thumb{
    background: rgb(0,0,0);
}

.daySlider::-webkit-slider-thumb{
    background: rgb(0,0,0);
}

.nightSlider::-moz-range-thumb{
   background: rgb(130, 220, 236);
}

.nightSlider::-webkit-slider-thumb{
    background: rgb(130, 220, 236);
}
