
.navBar {
    width: 100%;
    min-height: 5%;
    max-height: 20%;
    top: 0;
    left: 0;    
    position: absolute;
    overflow: hidden;
    animation-duration: 1s;
}
button.night {
    border-width: 0px;
    font-size: 250%;        
    right: 1px;
    width: fit-content;
    position: absolute;
    outline: none;
    cursor: pointer;
    background: none;
}
.buttonlike{
    font-size: 250%;    
    left: 1px;
    cursor: pointer;
    position: absolute; 
    width: fit-content;
    height: 5%;
}
.custom-file-upload {
    margin-left: 10px;
    cursor: pointer;
    width: fit-content;
    animation-duration: 1s;
}
.custom-file-upload:hover{
    text-shadow: 2px 2px 10px rgb(250,125,250);
}
.plus{
    position: absolute;
    left:10px;
    top: 13px;
    font-size: initial;
    width: 1%
}
.music {
    position: absolute;
    left:18px;
}
i{
    width: 50%;    
    animation-duration: 1s;
}
i.pickedMoon {
    color: rgb(200,100,200);
}
i.pickedSun {
    color: rgb(30,30,30);
}
i.notPickedMoon {    
    color: rgb(126, 191, 204);
}
i.notPickedSun {
    color: rgb(73, 75, 102);
}
i.notPickedSun:hover {
    text-shadow: 0px 0px 5px rgb(250,125,250);
}
i.notPickedMoon:hover {
    text-shadow: 0px 0px 5px rgb(250,125,250);
}
@keyframes iconTransitionSunOff {
    0% {color: rgb(30,30,30)}
    100% {color: rgb(73, 75, 102)}
}
@keyframes iconTransitionSunOn {   
    0% {color: rgb(73, 75, 102)}
    100% {color: rgb(30,30,30)}
}
@keyframes iconTransitionMoonOff {
    0% {color: rgb(30,30,30)}
    100% {color: rgb(126, 191, 204)}
}
@keyframes iconTransitionMoonOn {
    0% {color: rgb(126, 191, 204)}
    100% {color: rgb(30,30,30)}
}
@keyframes iconTransitionMusicOn {   
    0% {color: rgb(200,100,200)}
    100% {color: rgb(30,30,30)}
}
@keyframes iconTransitionMusicOff {
    0% {color: rgb(30,30,30)}
    100% {color: rgb(200,100,200)}
}
@keyframes backgroundTransitionOn {
    0% {background-color: rgb(15, 21, 44)}
    100% {background-color: rgb(130, 220, 236)}
}
@keyframes backgroundTransitionOff {    
    0% {background-color: rgb(130, 220, 236)}
    100% {background-color: rgb(15, 21, 44)}
}
@keyframes pngTransitionOn {
    0% { filter: invert(61%) sepia(76%) saturate(650%) hue-rotate(259deg) brightness(82%) contrast(89%)}
    100% {filter: none}
}
@keyframes pngTransitionOff {
    0% {filter: none}
    100% {filter: invert(61%) sepia(76%) saturate(650%) hue-rotate(259deg) brightness(82%) contrast(89%)}
}
button:active {
    border-style: outset;
  }
.body {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    position: absolute;
    overflow: hidden;
    animation-duration: 1s;
}
.tree{
    height: 100%;
    background: none;
}
img.palm {
    max-height:80%;
    position: absolute;
    bottom: 0;
    transform: translateY(1%);
    background: none;
    animation-duration: 5s;
}
.playlist{
    background: none;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 90%;
    max-width: 20%;
    text-orientation: upright;
    overflow-x: hidden;

    white-space: nowrap;
    overflow-y: scroll;
    text-overflow: ellipsis;
    transform: translateX(17px);
}
.song{
    cursor: pointer;    
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song:hover{
    text-shadow: 0px 0px 5px rgb(250,125,250);       
}


input[type="file"] {
    display: none;
}

.palm.night {
    filter: invert(61%) sepia(76%) saturate(650%) hue-rotate(259deg) brightness(82%) contrast(89%);
}

.sound {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.play {    
    font-size: 250px ;
    border: solid;
    border-radius: 300px;
    padding-left: 22px;
    padding-right: 72px;
    background: none;
    cursor: pointer;
    animation-duration: 1px;
    outline: none;
    text-align: center;
}
.pause {
    font-size: 200px;
    border: solid;
    border-radius: 300px;
    padding-left: 17px;
    padding-right: 103px;
    padding-top: 30px;
    padding-bottom: 29px;
    background: none;
    cursor: pointer;
    animation-duration: 1px;
    outline: none;
}

.songPicked {
   text-decoration: underline ;
   text-decoration-style: solid;
   color: rgb(250,125,250);
}
.center {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    bottom: 200px;
    transform: translateX(-50%);
    
    background: none;
}
.play:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.pause:hover {
    text-shadow: 0px 0px 20px rgb(250,125,250);
    box-shadow: 0px 0px 20px rgb(250,125,250);
}
.dayCenter {
    color: rgb(30,30,30);
}
.nightCenter {
    color: rgb(126, 191, 204)
}