.day {
    background-color: rgb(130, 220, 236);
    color: rgb(30,30,30);
    border-color: rgb(30,30,30);
}
.night {
    background-color: rgb(15, 21, 44);
    color: rgb(126, 191, 204);
    border-color: rgb(225,225,225);
}
.daySecondary {
    background-color: rgb(130, 220, 236);
    color: rgb(30,30,30);
    border-color: rgb(30,30,30);  
}
.nightSecondary {
    background-color: rgb(15, 21, 44);
    color: rgb(225,225,225);
    border-color: rgb(225,225,225);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
